/* Estilos generales */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #ddd; /* Gris claro */
    color: black;
    text-align: right;
    padding: 20px;
}

h1 {
    font-size: 1.25em; /* Mitad del tamaño anterior */
    font-weight: bold;
    text-transform: none;
    margin: 0;
    padding-right: 20px;
}

/* Contenedor de proyectos */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.portfolio-item {
    background: white;
    padding: 15px;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.portfolio-item h2 {
    font-size: 1.2em;
    color: #222;
    margin-bottom: 10px;
    text-align: left;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.portfolio-item p {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

/* Tags de proyectos */
.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em; /* Igual que la descripción */
    font-weight: bold;
    color: white;
}

.tag.residencial { background-color: #2a9d8f; }
.tag.comercial { background-color: #e76f51; }
.tag.paisajismo { background-color: #f4a261; }

/* Estilos de pie de página */
footer {
    background-color: #eee; /* Gris claro como el header */
    color: black;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
}