/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Neue+Haas+Unica:wght@300;400;700&display=swap');

body {
    font-family: 'Neue Haas Unica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: transparent; /* Sin fondo */
    color: #444; /* Gris oscuro */
    text-align: right;
    padding: 10px 20px; /* Menos padding para reducir la separación */
}

h1 {
    font-size: 1.25em; /* Mitad del tamaño anterior */
    font-weight: bold;
    text-transform: none;
    margin: 0;
    padding-right: 20px;
    color: #333; /* Gris oscuro */
}

/* Contenedor de proyectos */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Mayor separación entre elementos */
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto; /* Centrar con más margen lateral */
}

.portfolio-item {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mantener el sombreado solo en el posteo */
    text-align: left;
}

.portfolio-item h2 {
    font-size: 0.9375em; /* 75% del tamaño del título principal */
    color: #666; /* Gris ligeramente más claro */
    margin-bottom: 10px;
    text-align: left;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: none; /* Eliminar sombra de las imágenes */
}

.portfolio-item p {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

/* Tags de proyectos */
.tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em; /* Igual que la descripción */
    font-weight: bold;
    color: white;
    background-color: var(--tag-color, #555); /* Color por defecto */
}

/* Estilos de pie de página */
footer {
    background-color: #eee; /* Gris claro como el header */
    color: black;
    text-align: center;
    padding: 5px;
    position: relative;
    width: 100%;
}
